<div class="app">
  <h1 class="app-title">
    {{ title }}
  </h1>
  <div class="app-page">
    <section class="app-counter-section">
      <p class="app-counter">{{counter.data}}</p>
      <button class="btn" (click)="increment()">Increment</button>
      <button class="btn" (click)="decrement()">Decrement</button>
      <button class="btn" (click)="reset()">Reset</button>

      <p class="app-counter-msg" 
        *ngIf="counter.status==loading">
        {{counter.msg}}
      </p>

    </section>  
    <!-- 
    <section class="app-user">
      <div class="user-msg">
        {{user.msg}}
      </div>
      <div *ngIf="user.status==loggedin" 
        class="user-name">
        {{user.name}}
        <button (click)="logout()" 
          class="btn">Logout</button>
      </div>
      <button *ngIf="user.status!=loggedin" 
        (click)="login()" 
        class="btn">Login
      </button>
    </section>
    -->
  </div>
  
</div>
